.form2{
     width: 890px;
    height: 50px;
    margin-left: 200px;
    border: 1px solid grey;
}
#story{
    display: inline-block;
    margin-left: 10px;
}
#watch1{
    display: inline-block;
    float: right;
}
#watch2{
    display: inline-block;

    }